.project-subcard {
    border-radius: 10px;
    border: 1px solid rgb(32, 122, 97);
}
#project-card-container{
    background-color: rgb(221, 217, 217);
}
.project-subcard:hover {
    transform: scale(1.025);
    transition-duration: 0.5s;
    cursor: pointer;
    background: rgb(32, 122, 97)!important;
    color: rgb(255, 255, 255)!important;
}
.project-card-container {
    border: 1px solid black;
    box-shadow: 5px 5px 15px 8px;
    width: 90%;
}
.modal-backdrop {
    background-color: rgb(0, 0, 0);
}
#admin-link:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    cursor: pointer;
    background:rgb(32, 122, 97)!important;
    color:white;
}
.close-button-modal {
    background-color: black!important;
    color: antiquewhite!important;
}
.modal-content {
    background-color: rgb(240, 110, 110);
}
#alerted-text:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.025);
}
@media Screen and (max-width: 780px) {
    
}
@media Screen and (max-width: 992px) {
    #project-subcard {
        margin-bottom: 10px;
    }
    #threat-total {
        width: 100%;
    }
}