@media Screen and (max-width: 500px) {
    #mitigations-header {
        display: flex!important;
        justify-content: flex-end!important;
        position: unset!important;
        border-left: 1px solid black;
    }
}
@media Screen and (max-width: 438px) {
    .fs-10{
        font-size: 13px!important;
    }
    #mitigations-header {
        position: unset!important;
    }
    .word-break {
        position: unset!important;
        word-wrap: break-word;
        word-break: break-all;
    }
}
@media Screen and (max-width: 368px) {
    #mitigations-header {
        width: 170px!important;
    }
}