#admin-link:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    cursor: pointer;
}
@media Screen and (max-width: 500px) {
    #mitigations-header {
        display: flex!important;
        justify-content: flex-end!important;
        position: unset!important;
        border-left: 1px solid black;
    }
}
@media Screen and (max-width: 400px) {
    * {
        font-size: 10px;
    }
}