#countermeasure-container {
    margin-top: 20px;
    background-color: rgb(184, 184, 184);
    box-shadow: 5px 5px 5px rgb(17, 0, 112);
    margin-bottom: 20px;
}
#mitigation-info {
    padding: 5px;
    border-top: 3px solid rgb(68, 107, 235);
}