#countermeasure-container {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
#checkbox, #checkbox:hover {
    height: 20px;
    width: 20px;
    border: 3px solid rgb(107, 107, 107);
}
#mitigation-info {
    padding: 5px;
}
.container-fluid {
    padding: 0px;
    margin:  0px;
}